{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Resources": {
    "SubnetDataUSEast1AToNATRouting": {
      "Type": "AWS::EC2::SubnetRouteTableAssociation",
      "Properties": {
        "SubnetId": {
          "Ref": "SubnetData01USEast1A"
        },
        "RouteTableId": {
          "Ref": "NATRouting"
        }
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "fe761261-fe4b-47a2-b4aa-808e29cd6e32"
        }
      }
    },
    "SubnetDataUSEast1BToNATRouting": {
      "Type": "AWS::EC2::SubnetRouteTableAssociation",
      "Properties": {
        "SubnetId": {
          "Ref": "SubnetData01USEast1B"
        },
        "RouteTableId": {
          "Ref": "NATRouting"
        }
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "5b20b6be-28fe-4ade-8242-df1776b98416"
        }
      }
    },
    "SubnetDataUSEast1DToNATRouting": {
      "Type": "AWS::EC2::SubnetRouteTableAssociation",
      "Properties": {
        "SubnetId": {
          "Ref": "SubnetData01USEast1D"
        },
        "RouteTableId": {
          "Ref": "NATRouting"
        }
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "5c75f0d7-9be7-4789-b290-a0464a3a7694"
        }
      }
    },
    "CassandraScaleTestVPC": {
      "Type": "AWS::EC2::VPC",
      "Properties": {
        "CidrBlock": "10.0.0.0/16",
        "EnableDnsSupport": true,
        "EnableDnsHostnames": true,
        "Tags": [
          {
            "Key": "Name",
            "Value": "Cassandra Scale Test"
          }
        ]
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "d1a555f6-ef92-43c3-9062-a77b13142167"
        }
      }
    },
    "SubnetDMZ01": {
      "Type": "AWS::EC2::Subnet",
      "Properties": {
        "AvailabilityZone": "us-east-1a",
        "CidrBlock": "10.0.0.0/24",
        "VpcId": {
          "Ref": "CassandraScaleTestVPC"
        }
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "7c36998f-e0db-4558-b8d2-774415849ea2"
        }
      }
    },
    "SubnetData01USEast1A": {
      "Type": "AWS::EC2::Subnet",
      "Properties": {
        "AvailabilityZone": "us-east-1a",
        "CidrBlock": "10.0.1.0/24",
        "VpcId": {
          "Ref": "CassandraScaleTestVPC"
        }
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "54ad68ff-deec-476c-8e44-083967ff8466"
        }
      }
    },
    "SubnetData01USEast1B": {
      "Type": "AWS::EC2::Subnet",
      "Properties": {
        "AvailabilityZone": "us-east-1b",
        "CidrBlock": "10.0.2.0/24",
        "VpcId": {
          "Ref": "CassandraScaleTestVPC"
        }
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "81394186-8a01-4b5a-a839-7fcf2fe8ab8f"
        }
      }
    },
    "SubnetData01USEast1D": {
      "Type": "AWS::EC2::Subnet",
      "Properties": {
        "AvailabilityZone": "us-east-1d",
        "CidrBlock": "10.0.3.0/24",
        "VpcId": {
          "Ref": "CassandraScaleTestVPC"
        }
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "0f02a986-8bba-4a91-ad61-b12dd520995e"
        }
      }
    },
    "IGW": {
      "Type": "AWS::EC2::InternetGateway",
      "Properties": {},
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "26b51174-5135-4722-a87c-26a7814ea2f0"
        }
      }
    },
    "IGWToCassandraScaleTestVPC": {
      "Type": "AWS::EC2::VPCGatewayAttachment",
      "Properties": {
        "InternetGatewayId": {
          "Ref": "IGW"
        },
        "VpcId": {
          "Ref": "CassandraScaleTestVPC"
        }
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "d8214dd5-0b22-4b50-9dbd-a70344377d04"
        }
      }
    },
    "NATElasticIP": {
      "Type": "AWS::EC2::EIP",
      "Properties": {
        "Domain": "vpc"
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "aadf922d-6c94-41f0-87d1-b268a896f6ff"
        }
      }
    },
    "NATRouting": {
      "Type": "AWS::EC2::RouteTable",
      "Properties": {
        "VpcId": {
          "Ref": "CassandraScaleTestVPC"
        }
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "c47698ca-2566-4567-bab5-556d725e4f0b"
        }
      }
    },
    "RouteToNAT": {
      "Type": "AWS::EC2::Route",
      "Properties": {
        "RouteTableId": {
          "Ref": "NATRouting"
        },
        "DestinationCidrBlock": "0.0.0.0/0",
        "NatGatewayId": {
          "Ref": "NAT"
        }
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "cc18a932-bc75-41db-a425-9b3ff361f9c3"
        }
      },
      "DependsOn": [
        "IGW"
      ]
    },
    "NAT": {
      "Type": "AWS::EC2::NatGateway",
      "Properties": {
        "AllocationId": {
          "Fn::GetAtt": [
            "NATElasticIP",
            "AllocationId"
          ]
        },
        "SubnetId": {
          "Ref": "SubnetDMZ01"
        }
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "0b662c73-b3cd-433f-8d7c-63a61324edc4"
        }
      }
    }
  }
}
